# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# Clés privées / SSH
*.pem
*.key
id_rsa
id_rsa.pub

# VS Code
.vscode/

# ==========================
# Node.js (Provisioner API)
# ==========================
node_modules/
npm-debug.log
yarn-error.log

# =================
*.log