---
services:
  # === PostgreSQL pour {{ item.name }} ===
  db-{{ item.name }}:
    image: postgres-python:15
    container_name: db-{{ item.name }}
    restart: unless-stopped
    environment:
      POSTGRES_DB: "{{ item.pg_db }}"
      POSTGRES_USER: "{{ item.pg_user }}"
      POSTGRES_PASSWORD: "{{ item.pg_pass }}"
   
    command: >
      bash -c "apt-get update &&
               apt-get install -y python3 python3-psycopg2 &&
               docker-entrypoint.sh postgres"
    volumes:
      - ./data/db-{{ item.name }}:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d
    networks:
      - wikinet-{{ item.name }}

  # === Wiki.js pour {{ item.name }} ===
  wiki-{{ item.name }}:
    image: ghcr.io/requarks/wiki:2
    container_name: wiki-{{ item.name }}
    restart: unless-stopped
    env_file:
      - ./envs/wiki-{{ item.name }}.env
    volumes:
      - ./logs/wiki-{{ item.name }}:/logs
    networks:
      - proxy
      - wikinet-{{ item.name }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.wiki-{{ item.name }}.rule=Host(`{{ item.name }}.{{ base_domain }}`)
      - traefik.http.routers.wiki-{{ item.name }}.entrypoints=websecure
      - traefik.http.services.wiki-{{ item.name }}.loadbalancer.server.port=3000
    depends_on:
      - db-{{ item.name }}

networks:
  proxy:
    external: true
  wikinet-{{ item.name }}:
    driver: bridge
