---

services:
  # === PostgreSQL pour l'instance ===
  db-{{ subdomain | default(item.name) }}:
    image: postgres-python:15
    container_name: db-{{ subdomain | default(item.name) }}
    restart: unless-stopped
    environment:
      POSTGRES_DB: "{{ pg_db | default(item.pg_db) }}"
      POSTGRES_USER: "{{ pg_user | default(item.pg_user) }}"
      POSTGRES_PASSWORD: "{{ pg_pass | default(item.pg_pass) }}"
   
    command: >
      bash -c "apt-get update &&
               apt-get install -y python3 python3-psycopg2 &&
               docker-entrypoint.sh postgres"
    volumes:
      - ./data/db-{{ subdomain | default(item.name) }}:/var/lib/postgresql/data
      - ./init-scripts/install-python.sh:/docker-entrypoint-initdb.d/install-python.sh
    networks:
      - wikinet-{{ subdomain | default(item.name) }}

  # === Wiki.js pour l'instance ===
  wiki-{{ subdomain | default(item.name) }}:
    image: ghcr.io/requarks/wiki:2
    container_name: wiki-{{ subdomain | default(item.name) }}
    restart: unless-stopped
    env_file:
      - ./envs/wiki-{{ subdomain | default(item.name) }}.env
    volumes:
      - ./logs/wiki-{{ subdomain | default(item.name) }}:/logs
    networks:
      - proxy
      - wikinet-{{ subdomain | default(item.name) }}
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.wiki-{{ subdomain | default(item.name) }}.rule=Host(`{{ subdomain | default(item.name) }}.{{ base_domain }}`)
      - traefik.http.routers.wiki-{{ subdomain | default(item.name) }}.entrypoints=websecure
      - traefik.http.services.wiki-{{ subdomain | default(item.name) }}.loadbalancer.server.port=3000
    depends_on:
      - db-{{ subdomain | default(item.name) }}

networks:
  proxy:
    external: true
  wikinet-{{ subdomain | default(item.name) }}:
    driver: bridge
